@font-face {
  font-family: 'Gilroy SemiBold';
  font-weight: normal;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"); }

@font-face {
  font-family: 'Gilroy Bold';
  font-weight: normal;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Gilroy Medium';
  font-weight: normal;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"); }

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #fff;
  color: #1D1D1F;
  font-family: 'Gilroy Medium', sans-serif; }

a {
  display: inline-block; }
  a.button-gradient {
    margin: 15px 0 10px;
    text-decoration: none;
    display: inline-block;
    background: -webkit-gradient(linear, left top, right top, from(#01C79B), to(#4593EF));
    background: -o-linear-gradient(left, #01C79B 0%, #4593EF 100%);
    background: linear-gradient(90deg, #01C79B 0%, #4593EF 100%);
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    width: 100%;
    line-height: 40px;
    color: #FFFFFF;
    position: relative; }
    a.button-gradient:before {
      -webkit-transition: opacity .2s ease;
      -o-transition: opacity .2s ease;
      transition: opacity .2s ease;
      border-radius: 10px;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      opacity: 0;
      z-index: 1;
      background: -webkit-gradient(linear, left top, right top, from(#4593EF), to(#01C79B));
      background: -o-linear-gradient(left, #4593EF 0%, #01C79B 100%);
      background: linear-gradient(90deg, #4593EF 0%, #01C79B 100%); }
    a.button-gradient:hover:before {
      opacity: 1; }
    a.button-gradient.disabled {
      pointer-events: none; }
      a.button-gradient.disabled:after {
        -webkit-transition: opacity .2s ease;
        -o-transition: opacity .2s ease;
        transition: opacity .2s ease;
        border-radius: 10px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        z-index: 1;
        background: rgba(255, 255, 255, 0.7); }
    a.button-gradient span {
      position: relative;
      z-index: 2; }
  a.back {
    -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    z-index: 9;
    top: 25px;
    left: 25px;
    width: 15px;
    height: 15px;
    position: absolute; }
    a.back:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #4892F3; }
    a.back:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background: #4892F3; }

.overlay {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px); }

.swipe-bottom {
  padding: 20px;
  z-index: 99;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  border-radius: 14px 14px 0 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  .swipe-bottom:after {
    position: absolute;
    top: -6px;
    left: 50%;
    content: '';
    -webkit-transform: translateX(-50%) translateY(-100%);
        -ms-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
    width: 33px;
    height: 4px;
    background: #FFFFFF;
    border-radius: 2px; }
  .swipe-bottom.active {
    bottom: 0; }
    .swipe-bottom.active ~ .overlay {
      opacity: 1;
      visibility: visible; }
  .swipe-bottom .title {
    font-family: "Gilroy SemiBold", sans-serif;
    font-size: 18px;
    line-height: 21px; }
  .swipe-bottom .text {
    font-size: 12px;
    line-height: 14px; }
  .swipe-bottom .card-block {
    margin-top: 16px;
    border-radius: 19px;
    padding: 25px 20px;
    background: rgba(215, 215, 215, 0.15);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px); }
    .swipe-bottom .card-block .card {
      position: relative;
      line-height: 50px;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      display: block; }
      .swipe-bottom .card-block .card:before {
        position: absolute;
        content: url("../img/card.svg");
        left: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
      .swipe-bottom .card-block .card input {
        background: #FFFFFF;
        -webkit-box-shadow: 0 0 5px #CACACA;
                box-shadow: 0 0 5px #CACACA;
        border-radius: 12px;
        padding-left: 60px;
        width: 100%;
        font-size: 16px;
        outline: none;
        border: none;
        line-height: 50px; }
        .swipe-bottom .card-block .card input::-webkit-input-placeholder {
          font-size: 16px;
          line-height: 19px;
          color: #828283; }
        .swipe-bottom .card-block .card input::-moz-placeholder {
          font-size: 16px;
          line-height: 19px;
          color: #828283; }
        .swipe-bottom .card-block .card input:-ms-input-placeholder {
          font-size: 16px;
          line-height: 19px;
          color: #828283; }
        .swipe-bottom .card-block .card input::-ms-input-placeholder {
          font-size: 16px;
          line-height: 19px;
          color: #828283; }
        .swipe-bottom .card-block .card input::placeholder {
          font-size: 16px;
          line-height: 19px;
          color: #828283; }

.privacy-policy {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #818181; }
  .privacy-policy a {
    color: #818181; }
