@font-face {
  font-family: 'Gilroy SemiBold';
  font-weight: normal;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Gilroy Bold';
  font-weight: normal;
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Gilroy Medium';
  font-weight: normal;
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
}