.loading-screen{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(25px);
  .text{
    font-family: $gilroy-semibold;
    font-weight: 600;
    width: 220px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
  }
}