$gilroy-semi-bold: 'Gilroy SemiBold', sans-serif;
$gilroy-medium: 'Gilroy Medium', sans-serif;
$gilroy-bold: 'Gilroy Bold', sans-serif;

.subscriptions {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  position: relative;
  font-family: $gilroy-medium;

  .header {
    text-align: center;

    .nickname {
      font-family: $gilroy-bold;
      opacity: 0.5;
    }
  }

  .data {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .photo {
      position: relative;
      width: 80px;
      height: 80px;
      margin-right: 20px;

      img {
        border-radius: 50%;
        width: 100%;
        object-fit: cover;
      }

      .confirmed {
        position: absolute;
        bottom: 6px;
        right: 2px;
      }
    }

    .name {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .advantages {
    padding: 22px 25px;
    margin-top: 20px;
    background: #F9FAFE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    .title {
      font-family: $gilroy-semi-bold;
      margin-bottom: 16px;
    }

    ul {
      li {
        padding-left: 35px;
        font-size: 15px;
        line-height: 18px;
        opacity: 0.8;
        position: relative;

        + li {
          margin-top: 12px;
        }

        &:before {
          position: absolute;
          content: url("../img/ok.svg");
          left: 0;
          top: 0;
        }
      }
    }
  }

  .gradient-box {
    margin-top: 25px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    padding: 20px 0;
    box-sizing: border-box;
    $border: 3px;
    background: #F9FAFE;
    background-clip: padding-box;
    border: solid $border transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(100.61deg, #01C79B 0%, #4493EE 100%);
    }

    .text {
      p {
        font-family: 'Roboto', sans-serif;

        &:nth-child(1) {
          font-weight: 700;
          font-size: 32px;
          line-height: 37px;
        }

        &:nth-child(2) {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
        }

        &:nth-child(3) {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #8F8F8F;
        }
      }
    }
  }

  .privacy-policy {
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #818181;

    a {
      color: #818181;
    }
  }

  .swipe-bottom {
    padding: 18px 20px;
    z-index: 99;
    position: absolute;
    bottom: -100%;
    left: 0;
    //transform: translateX(100%);
    width: 100%;
    background: #FFFFFF;
    border-radius: 14px 14px 0 0;
    transition: all .2s ease;

    &:after {
      position: absolute;
      top: -6px;
      left: 50%;
      content: '';
      transform: translateX(-50%) translateY(-100%);
      width: 33px;
      height: 4px;
      background: #FFFFFF;
      border-radius: 2px;
    }

    &.active {
      bottom: 0;

      ~ .overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    .title {
      font-family: $gilroy-semi-bold;
      font-size: 18px;
      line-height: 21px;
    }

    .text {
      font-size: 12px;
      line-height: 14px;
      padding-right: 30px;
    }

    .card-block {
      margin-top: 16px;
      border-radius: 19px;
      padding: 25px 20px;
      background: transparentize(#D7D7D7, .85);
      backdrop-filter: blur(50px);

      .card {
        background: #FFFFFF;
        position: relative;
        line-height: 50px;
        height: 50px;
        display: block;
        box-shadow: 0 0 5px #CACACA;
        border-radius: 12px;

        .card-icon {
          position: absolute;
          left: 0;
          height: 100%;
          width: 60px;

          img{
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
          }
        }

        .card-info{
          display: none;
          padding-left: 60px;
          font-size: 16px;
          line-height: 50px;
          font-weight: 500;
        }

        input {
          padding: 0;
          border-radius: 12px;
          font-size: 16px;
          outline: none;
          border: none;
          height: 50px;
          line-height: 50px;

          &::placeholder {
            font-size: 16px;
            line-height: 19px;
            color: #828283;
          }

          &.card-input {
            padding-left: 60px;
            width: 100%;
          }

          &.card-date {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            right: 90px;
            width: 50px;
          }

          &.card-cvv {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            right: 15px;
            width: 32px;
          }
        }
      }

      .next-step {
        opacity: 0;
        visibility: hidden;
        display: flex;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}